/.vscode
/bin
/build
compile_commands.json
4-BarSkills.v5code/build/4BarSkillsv5code.bin
4-BarSkills.v5code/build/4BarSkillsv5code.elf
4-BarSkills.v5code/build/4BarSkillsv5code.map
4-BarSkills.v5code/build/src/main.o
4-BarSkills.v5code/build/src/robot-config.o
*.o
4-BarSkills.v5code/build/4BarSkillsv5code.bin
4-BarSkills.v5code/build/4BarSkillsv5code.elf
4-BarSkills.v5code/build/4BarSkillsv5code.map
4-BarSkills.v5code/build/src/main.o
4-BarSkills.v5code/build/4BarSkillsv5code.bin
4-BarSkills.v5code/build/4BarSkillsv5code.elf
4-BarSkills.v5code/build/4BarSkillsv5code.map
